<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Recall Your Grains</title>
  <meta name="description" content="Home page">
  <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>
  <body>
    <p class="message"></p>
    <section class="editTask">
      <button class="editBtn" type="button" name="button">
        <img class="editImg" src="./media/editIcon.png" alt="Edit Icon">
      </button>
      <button class="editBtn" type="button" name="button">
        <img class="editImg" src="./media/trashIcon.png" alt="Trash Icon">
      </button>
    </section>
    <form class="taskForm">
      <label class="taskNameLabel"for="taskNameInput">Task: </label>
      <input id="taskNameInput" type="text" name="taskNameInput" placeholder="Enter Task Here">
      <input type="submit" class="addTask" name="submit" value="Add Task">
      <label class="status" id="newTaskStatus"></label>
    </form>
    <section class="taskContainer" id="1">
      <input type="checkbox" class="taskCheckbox">
      <input type="text" class="taskName" readonly value="Task Goes here">
    </section>
    <section class="taskContainer" id="2">
      <input type="checkbox" class="taskCheckbox">
      <input type="text" class="taskName" readonly value="Task # 2 here">
    </section>
  </body>
  <script src="./scripts/addTask.js" type="module"></script>
  <script src="./scripts/editTaskClient.js" type="module"></script>

</html>
